@{
    Layout = null;
}
<div class="modal fade in" id="F4-ModelId" tabindex="-1" role="dialog" aria-labelledby="TenantEditModalLabel" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <span>F4-Title</span>
                </h4>
            </div>
            <div class="modal-body">
                @RenderBody()
            </div>
            @Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
        </div>
    </div>
</div>

